  <div class="nav-header <%= yield(:navbar_class) %>">
    <%# <div class="logo"> %>
    <div class="logo-written">
      <%= link_to root_path  do  %>
        <%# <%= image_tag "logo.jpg" %>
        <h1>Cup of Sugar</h1>
      <% end %>
    </div>
    <div class= "nav-menu">
      <p><%= link_to "Have something to lend?", new_item_path %></p>
      <p><%= link_to "My Dashboard", requests_path %></p>
      <% if  user_signed_in? %>
        <%= cl_image_tag current_user.picture.key , class: "avatar"%>
      <% else %>
      <p><%= link_to "Log in", new_user_session_path %></p>
      <% end %>
      <ul class="navbar-nav">
      <%= render 'layouts/notifications' %>
      </ul>
    </div>
  </div>
