<div class="nav-header">
  <div >
    <%= image_tag "logo.jpg" %>
  </div>
  <div class= "nav-menu">
    <p class= "nav-link"><%= link_to "Have something to lend?", new_item_path %></p>
    <p class= "nav-link"><%= link_to "My Dashboard", "#" %></p>
    <p><%= link_to "Log in", new_user_session_path %></button></p>
    <%= image_tag "jfnumainville" , class: "avatar"%>
  </div>
</div>
