  <div class="nav-header <%= yield(:navbar_class) %>">
    <%# <div class="logo"> %>
    <div class="logo-written">
      <%= link_to root_path  do  %>
        <%# <%= image_tag "logo.jpg" %>
        <h1>Cup of Sugar</h1>
      <% end %>
    </div>
    <div class= "nav-menu">
    <% if  user_signed_in? %>
      <p><%= link_to "Have something to lend?", new_item_path %></p>
      <p><%= link_to "My Dashboard", requests_path %></p>
      <ul class="navbar-nav">
      <%= render 'layouts/notifications' %>
      </ul>
      <%= cl_image_tag current_user.picture.key , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li class="dropdown-item">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
      </div>
      <% else %>
      <p><%= link_to "Log in", new_user_session_path %></p>
      <% end %>
    </div>
  </div>
