<div class="nav-header">
  <div >
    <%= link_to root_path  do  %>
      <%= image_tag "logo.jpg" %>
    <% end %>
  </div>
  <div class= "nav-menu">
    <p><%= link_to "Have something to lend?", new_item_path %></p>
    <p><%= link_to "My Dashboard", "#" %></p>
    <p><%= link_to "Log in", new_user_session_path %></p>
      <%= image_tag "jfnumainville" , class: "avatar"%>
  </div>
</div>
