<div class="card-grid">

  <% @my_requests.each do |r| %>

    <div class="card-product-borrowing-lending">

        <div class="card-product-infos">
          <%= cl_image_tag r.item.picture.key, class:"avatar" %>
          <h2><%=r.item.name %> </h2>
        </div>

        <div class="request-infos-dates">
          <h2>Borrowing from <%=r.item.user.name %> for <%= (r.end_date - r.start_date).to_i %> days</h2>
          <p>from <%= r.start_date.strftime("%a %b %e") %> to <%= r.end_date.strftime("%a %b %e") %> </p>
        </div>

        <div class="request-infos status">
          <% if r.status == 'approved' %>
          <%= image_tag ("icons8-ok.jpg") %>
          <p>Your request is approved!</p>
          <% elsif r.status == 'pending' %>
         <%= image_tag ("icons8-sand-timer.jpg") %>
         <p>Your request is pending!</p>
          <% else %>
          <%= image_tag ("icons8-cancel.jpg") %>
          <p>Your request is declined!</p>
          <% end %>
        </div>

        <div class = "request-infos">
          <%= link_to "Cancel your request", request_path(r), method: :delete, data: {confirm: "Delete this item?"} %>
        </div>


    </div>

  <% end %>
</div>
