<div class="card-grid">
  <% @my_requests.each do |r| %>
      <div class="card-product-borrowing-lending">
        <%= cl_image_tag r.item.picture.key %>
        <div class="card-product-infos">
          <h2><%=r.item.name %> </h2>
          <p><%=r.item.description %></p>
        </div>
        <div class="request-infos">
            <div>
              <h2>Info</h2>
              <p>Borrowing from <%=r.item.user.name %> </p>
              <p>from <%=r.start_date %></p>
              <p>to <%= r.end_date%></p>
            </div>
            <div class="status">
              <p><i class="far fa-check-circle"></i></p>
            </div>
        </div>
          <div class = "approve-reject">
            <%= link_to request_path(r), method: :delete, data: {confirm: "Delete this item?"} do %>
              <i class="far fa-trash-alt"> </i>
            <% end %>
          </div>
      </div>
  <% end %>
</div>
