<div class="card-grid">
  <% @my_lendings.each do |r| %>
    <div class="card-product-borrowing-lending">

      <div class="card-product-infos">
        <%= cl_image_tag r.item.picture.key, class: "avatar"%>
        <h2><%=r.item.name%> </h2>
      </div>

      <div class="request-infos-dates">
        <h2>Lending to <%=r.user.name %> for <%= (r.end_date - r.start_date).to_i %> days</h2>
        <p>from <%= r.start_date.strftime("%a %b %e") %> to <%= r.end_date.strftime("%a %b %e") %> </p>
      </div>

      <div class="request-infos status">
        <% if r.status == 'approved' %>
        <%= image_tag ("icons8-ok.jpg") %>
        <p>You approved this request!</p>
        <% elsif r.status == 'pending' %>
        <%= image_tag ("icons8-sand-timer.jpg") %>
        <p>Please review this request</p>
        <% else %>
        <%= image_tag ("icons8-cancel.jpg") %>
          <p>You declined this request</p>
        <% end %>
      </div>

      <div class = "request-infos">
        <%= link_to request_path(r), method: :patch, data: {confirm: "Accept this booking?"} do %>
          <i class="far fa-check-circle"></i>
        <% end %>
          <%= link_to request_path(r), method: :delete, data: {confirm: "Delete this item?"} do %>
            <i class="far fa-trash-alt"> </i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
