<div class="container">
  <nav class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#lending" type="button" role="tab" aria-controls="nav-home" aria-selected="true">I am lending</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#borrowing" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">I am borrowing</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#items" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My items</button>
  </nav>

  <div class="tab-content bg-info p-4">

    <div class="tab-pane fade in show active" id="lending" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_lendings.each do |r| %>
            <div class="card-product-borrowing-lending">
              <%= image_tag(r.item.picture) %>
              <div class="card-product-infos">
                <h2><%=r.item.name%> </h2>
                <p><%=r.item.description%></p>
              </div>
              <div class="request-infos">
                <div>
                  <h2>Info</h2>
                  <p> Lending to <%=r.user.name %> </p>
                  <p>from <%=r.start_date %></p>
                  <p>to <%= r.end_date%></p>
                </div>
                <div class="status">
                  <p><i class="far fa-check-circle"></i></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
     </div>

    <div class="tab-pane fade show" id="borrowing" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_requests.each do |r| %>
            <div class="card-product-borrowing-lending">
               <%= image_tag(r.item.picture) %>
              <div class="card-product-infos">
                <h2><%=r.item.name %> </h2>
                <p><%=r.item.description %></p>
              </div>
              <div class="request-infos">
                <div>
                  <h2>Info</h2>
                  <p>Borrowing from <%=r.item.user.name %> </p>
                  <p>from <%=r.start_date %></p>
                  <p>to <%= r.end_date%></p>
                </div>
                <div class="status">
                  <p><i class="far fa-check-circle"></i></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="items" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_items.each do |r| %>
          <div class="card-product-myitems">
           <%= image_tag(r.picture) %>
            <div class="card-product-infos">
              <h2><%=r.name %> </h2>
              <p><%=r.description %></p>
            </div>
            <div class="update-delete" >
              <i class="far fa-edit"></i>
              <i class="far fa-trash-alt"></i>
            </div>
            <%= simple_form_for r, html: { class: "d-none", data: { edit_item_target: "form" } } do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.submit "Update item", class: "button-gold" %>
          <% end %>
          </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
