<div class="container">
  <nav class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
    <button class="<%= params[:active_tab]== "borrowing"?  "nav-link active" : "nav-link"%>" id="borrowing" data-bs-toggle="tab" data-bs-target="#borrowing" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">I am borrowing</button>
    <button class="<%= params[:active_tab]== "lending"?  "nav-link active" : "nav-link"%>" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#lending" type="button" role="tab" aria-controls="nav-home" aria-selected="true">I am lending</button>
    <button class="<%= params[:active_tab]== "items"?  "nav-link active" : "nav-link" %>" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#items" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My items</button>
  </nav>

  <div class="tab-content bg-info p-4">
    <div class="<%= params[:active_tab]== "borrowing"?  "tab-pane fade in show active" : "tab-pane fade" %>" id="borrowing" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_requests.each do |r| %>
            <div class="card-product-borrowing-lending">
              <%= cl_image_tag r.item.picture.key %>
              <div class="card-product-infos">
                <h2><%=r.item.name %> </h2>
                <p><%=r.item.description %></p>
              </div>
              <div class="request-infos">
                <div>
                  <h2>Info</h2>
                  <p>Borrowing from <%=r.item.user.name %> </p>
                  <p>from <%=r.start_date %></p>
                  <p>to <%= r.end_date%></p>
                </div>
                <div class="status">
                  <p><i class="far fa-check-circle"></i></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="<%= params[:active_tab]== "lending"?  "tab-pane fade in show active" : "tab-pane fade" %>" id="lending" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_lendings.each do |r| %>
            <div class="card-product-borrowing-lending">
               <%= cl_image_tag r.item.picture.key %>
              <div class="card-product-infos">
                <h2><%=r.item.name%> </h2>
                <p><%=r.item.description%></p>
              </div>
              <div class="request-infos">
                <div>
                  <h2>Info</h2>
                  <p> Lending to <%=r.user.name %> </p>
                  <p>from <%=r.start_date %></p>
                  <p>to <%= r.end_date%></p>
                </div>
                <div class="status">
                <% if r.status == 'approved' %>
                  <p><i class="far fa-check-circle"></i> <em>Approved</em></p>
                  <% elsif r.status == 'pending' %>
                  <p><i class="fas fa-spinner"> <em>Pending</em> </i></p>
                  <% else %>
                  <p><i class="far fa-x"><em>declined</em></i></p>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
     </div>
    <div class="<%= params[:active_tab]== "items"?  "tab-pane fade in show active" : "tab-pane fade" %>" id="items" role="tabpanel">
      <%= render "items/item_infos" %>
    </div>
  </div>
</div>
