<div class="container">
  <nav class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#lending" type="button" role="tab" aria-controls="nav-home" aria-selected="true">I am lending</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#borrowing" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">I am borrowing</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#items" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My items</button>
  </nav>

  <div class="tab-content bg-info p-4">
    <div class="tab-pane fade in show active" id="lending" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_lendings.each do |r| %>
          <p>Lending to <%=r.user.name %> from <%=r.start_date %> to <%= r.end_date%></p>
            <div class="card-product-update">
              <img src=<%= r.item.picture%>>
                <div class="card-product-infos">
                  <h2><%=r.item.name%> </h2>
                  <p><%=r.item.description%></p>
                </div>
              <div class="update-delete">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
        <% end %>
      </div>
     </div>
    <div class="tab-pane fade show" id="borrowing" role="tabpanel">
      <div class="card-grid mt-5">
          <% @my_requests.each do |r| %>
            <p>Borrowing from <%=r.item.user.name %> from <%=r.start_date %> to <%= r.end_date%></p>
              <div class="card-product-update">
                <img src=<%= r.item.picture%>>
                  <div class="card-product-infos">
                    <h2><%=r.item.name%> </h2>
                    <p><%=r.item.description%></p>
                  </div>
                  <div class="update-delete">
                    <i class="far fa-edit"></i>
                    <i class="far fa-trash-alt"></i>
                  </div>
              </div>
        <% end %>

      </div>
    </div>
    <div class="tab-pane fade" id="items" role="tabpanel">
      <div class="card-grid mt-5">
        <% @my_items.each do |r| %>
          <div class="card-product-update">
          <img src=<%= r.picture%>>
            <div class="card-product-infos">
              <h2><%=r.name%> </h2>
              <p><%=r.description%></p>
            </div>
            <div class="update-delete">
              <i class="far fa-edit"></i>
              <i class="far fa-trash-alt"></i>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
