<div data-search-items-target="list">
    <% unless params[:query].blank? %>
    <h3>
      <%= pluralize(@items.count, 'result') %> for '<%= params[:query] %>'
    </h3>
    <% end %>
<div class="card-grid mt-5">
    <% @items.each do |item| %>
      <div class="card-product">
        <%= link_to item_path(item) do%>
          <%= cl_image_tag item.picture.key %>
        <% end %>
          <div class="card-product-infos">
            <h2><%= item.name %></h2>
            <p><%= link_to truncate(item.description, length: 50) { link_to 'Read More', item_path(item), class:"truncate" } %> </p>
          </div>
        </div>

    <% end %>
  </div>

</div>
