<div class="container">
  <h1>Lend and borrow from your neighbours  </h1>

  <div class="categories">
      <%= link_to "Books", "#", class: "button-gold" %>
      <%= link_to "Holidays", "#", class: "button-gold" %>
      <%= link_to "Garden", "#", class: "button-gold" %>
      <%= link_to "Tools", "#", class: "button-gold" %>
      <%= link_to "Toys", "#", class: "button-gold" %>
      <%= link_to "Books", "#", class: "button-gold" %>
      <%= link_to "Holidays", "#", class: "button-gold" %>
      <%= link_to "Garden", "#", class: "button-gold" %>
      <%= link_to "Tools", "#", class: "button-gold" %>
      <%= link_to "Toys", "#", class: "button-gold" %>
  </div>

  <h1>Borrow near you </h1>

  <div class="card-grid mt-5">
    <div class="card-product">
      <%= image_tag("bosch.jpg")%>
      <div class="card-product-infos">
        <h2>Bosch tool </h2>
        <p>nice.</p>
      </div>
    </div>
    <div class="card-product">
      <%= image_tag("bosch.jpg")%>
      <div class="card-product-infos">
        <h2>Bosch tool </h2>
        <p>nice.</p>
      </div>
    </div>
  </div>
</div>
