<div class="card-product-myitems" data-controller="edit-item" data-edit-item-target="card" >
  <%= cl_image_tag my_item.picture.key %>

  <div class="card-product-infos" data-edit-item-target="infos">
    <h2><%=my_item.name %> </h2>
    <p><%= truncate(my_item.description, length: 50) { link_to " more", item_path(my_item), class:"truncate" } %></p>
  </div>

  <div class="update-delete" >
    <i class="far fa-edit" data-action="click->edit-item#displayForm"></i>
    <%= link_to item_path(my_item), method: :delete, data: { toggle:"modal", target:"#deleteModal"}  do %>
    <i class="far fa-trash-alt"> </i>
    <% end %>
  </div>

  <%= simple_form_for my_item, html: { class: "d-none", data: { edit_item_target: "form", action: "submit->edit-item#update"  } } do |f| %>
    <div class="form-update p-2">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category, :collection => ["Books", "Holidays", "Furnitures", "Garden", "Home decoration", "Kitchen", "Special events", "Sports", "Tools", "Toys"], :label => 'Select a Category'%>
      <%= f.input :picture, as: :file, :hint => 'Hint: Good quality pictures attract greater attention' %>
      <%= f.submit "Update", class: "button-gold", data: { toggle:"modal", target:"#updateModal"} %>
    </div>
  <% end %>

</div>

<div id="deleteModal" class="modal">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <%= image_tag("coffee.png", width:50) %>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4> Be careful, <%= current_user.name %></h4>
        <p> Are you sure you want to delete your item, <%=my_item.name %>? </p>
      </div>
    </div>
  </div>
</div>

<div id="updateModal" class="modal">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <%= image_tag("coffee.png", width:50) %>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4> Thank you <%= current_user.name %></h4>
        <p> Your item, <%=my_item.name %> has been updated </p>
      </div>
    </div>
  </div>
</div>
