<div class="container d-flex justify-content-around">
<%= image_tag("illustration.jpg", height:400, width:400) %>
  <div class="form">
    <%= simple_form_for (@item) do |f|%>
      <%= f.input :name, :label => "What item will you lend ?" %>
      <%= f.input :category, :collection => %w[Books Holidays Furnitures Garden Home Kitchen Special_events Sports Tools Toys],:label => 'Select a Category'%>
      <%= f.input :description, :label => 'Description', :hint => 'Hint: write an original description to stand out' %>
      <%= f.input :picture, as: :file, :hint => 'Hint: Good quality pictures attract greater attention' %>
      <%= f.submit "Submit", class: "button-gold" %>
    <% end %>

<!-- Modal HTML -->
            <div id="myModal" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-header justify-content-center">
                    <div class="icon-box">
                      <i class="material-icons">&#xE876;</i>
                    </div>
                  </div>
                  <div class="modal-body text-center">
                    <h4>Wow!</h4>
                    <p>You've successfully added an item.</p>
                  </div>
                </div>
              </div>
            </div>

  </div>
</div>
