<h1>Lend to and borrow from your neighbours</h1>
<div class=" container create-page">
  <%= image_tag("illustration.jpg", height:800, width:800) %>



    <%= simple_form_for (@item), html: {"data-controller": "category-suggestions"} do |f|%>
      <%= f.input :name, :label => "What item will you lend ?", input_html: {"data-action": "keyup->category-suggestions#retrieve", "data-category-suggestions-target":"name"} %>
      <p data-category-suggestions-target="buttons"></p>
      <%= f.input :category, :collection => ["Books", "Holidays", "Furnitures", "Garden", "Home decoration", "Kitchen", "Special events", "Sports", "Tools", "Toys"], :label => 'Select a Category'%>
      <%= f.input :description, :label => 'Description', :hint => 'Hint: write an original description to stand out' %>
      <%= f.input :picture, as: :file, :hint => 'Hint: Good quality pictures attract greater attention' %>
      <%= f.submit "Submit", class:"button-gold", data: { toggle:"modal", target:"#myModal"}%>
    <% end %>


</div>


<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <%= image_tag("coffee.png", width:50) %>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4> Thank you</h4>
        <p> Your item has been added to Cup of Sugar</p>
      </div>
    </div>
  </div>
</div>
