<div class="container">
  <div class="card-item">
    <%= cl_image_tag @item.picture.key%>
    <div class="item-info">
      <div class="item-info-top">

        <div class="item-frame">
          <h2><%= @item.name %></h2>
        </div>

        <div class="item-frame-user">
          <%= cl_image_tag @item.user.picture.key, class: "avatar" %>
          <div>
            <h3> <%= @item.user.name %> </h3>
            <div class="rating">
            <% @rating = @item.average_rating %>
            <% case @rating %>
            <% when (0..1.9) %>
              <i class="fab fa-gratipay cherry"></i> <strong><%= @rating %>/5</strong>
            <% when (2..2.9) %>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> <strong><%= @rating %>/5</span></strong>
            <% when (3..3.9) %>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> <strong><%= @rating %>/5</span></strong>
            <% when (4..4.9) %>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> <strong><%= @rating %>/5</span></strong>
            <% when (5) %>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> </span>
              <span> <i class="fab fa-gratipay cherry"></i> <strong><%= @rating %>/5</span></strong>
            <% end %>

            </div>
          </div>
        </div>

      </div>
      <div class="item-frame">
        <p><%= @item.description %></p>
      </div>
      <div class="item-frame-calendar">
        <%= render "reserve" %>
      </div>
      <% if current_user != @owner  && !current_user.nil?%>
        <div class="item-frame-chat">
          <div class="icon-chat"><i class="far fa-comment-alt" > </i> </div>
          <%= button_to "Chat with #{@owner.name}", chatrooms_path(id: @item.id), :method => :post, form: {target: '_blank'}, :class => "button-chat" %>
        </div>
      <% else %>
          <div class="item-frame">
            <%= link_to "Go to my items", requests_path(active_tab: "items"), class: "button-gold" %>
          </div>
      <% end %>
    </div>
  </div>
    <div class="other-items">
      <h4> Other items from <%= @owner.name %> </h4>
      <div class="card-grid-show mt-5">
      <% @other_items_by_owner.each do |item| %>
        <%=  link_to item_path(item) do%>
          <div class="card-product">
            <%= image_tag(item.picture) %>
            <div class="card-product-infos">
              <h2><%= item.name %></h2>
              <p><%= item.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
