<div class="container">
  <div class="card-item">
    <%= cl_image_tag @item.picture.key%>
    <div class="item-info">
      <div class="item-info-top">

        <div class="item-frame">
          <h2><%= @item.name %></h2>
        </div>

        <div class="item-frame-user">
          <%= cl_image_tag @item.user.picture.key, class: "avatar" %>
          <div>
            <h3> <%= @item.user.name %> </h3>
            <div class="rating">
              <i class="fab fa-gratipay cherry"></i>
              <i class="fab fa-gratipay cherry"></i>
              <i class="fab fa-gratipay cherry"></i>
              <i class="fab fa-gratipay light-gray"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="item-frame">
        <p><%= @item.description %></p>
      </div>
      <div class="item-frame-calendar">
        <%= render "reserve" %>
      </div>
      <% if current_user != @owner  && !current_user.nil?%>
        <div class="item-frame">
          <h2>Chat <%= @item.user.name %></h2>
        </div>
      <% else %>
          <div class="item-frame">
            <%= link_to "Go to my items", requests_path(active_tab: "items"), class: "button-gold" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<!---Reviews Section------>
<div class="container my-5">
<h2>
  <%# <%= pluralize @item.reviews.size, "review" %>
  <strong>Reviews:</strong>
</h2>

<div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
<div id="reviews">
  <% if @item.reviews.blank? %>
    Be the first to leave a review for <%= @item.name %>
  <% else %>
    <% @item.reviews.order(id: :desc).each do |review| %>
      <%= render 'review', review: review , remote: true %>
    <% end %>
  <% end %>
    </div>
</div>
<br>
<%= render 'reviews/form', item: @item, review: @review %>
</div>
</div>
<!---Reviews Section------>

 <%# <%= image_tag(@item.picture) unless @item.picture.nil? %>
