<div class="container-full-show">
  <div class="container-large-show">
    <div class="card-item">
      <div class="item-info-img">

          <div class="item-frame">
            <div class="d-flex">
              <h2><%= @item.name %></h2>
              <div class="rating">
                <% @rating = @item.average_rating %>
                  <% case @rating %>
                    <% when (1..1.9) %>
                      <i class="fab fa-gratipay cherry"></i>
                      <span> <i class="fab fa-gratipay light-gray"></i>
                      <span> <i class="fab fa-gratipay light-gray"></i>
                      <span> <i class="fab fa-gratipay light-gray"></i>
                      <span> <i class="fab fa-gratipay light-gray"></i>
                    <% when (2..2.9) %> light-gray
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                    <% when (3..3.9) %>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                    <% when (4..4.9) %>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                    <% when (5) %>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                      <span> <i class="fab fa-gratipay cherry"></i> </span>
                    <% else %>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                      <span> <i class="fab fa-gratipay light-gray"></i></span>
                  <% end %>
              </div>
            </div>
            <p><%= @item.description %></p>
          </div>
         <%= cl_image_tag @item.picture.key%>
      </div>

      <div class="item-info">

          <div class="item-frame-user">
            <div>
              <%= cl_image_tag @item.user.picture.key, class: "avatar" %>
              <h3> <%= @item.user.name %> </h3>
            </div>

            <% if current_user != @owner  && !current_user.nil?%>
              <div class="item-frame-chat">
                <div class="icon-chat">
                  <i class="far fa-comment-alt" > </i>
                </div>
                  <%= button_to "Chat with #{@owner.name}", chatrooms_path(id: @item.id), :method => :post, form: {target: '_blank'}, :class => "button-chat" %>
              </div>
            <% else %>
              <div class="item-frame">
                <%= link_to "Go to my items", requests_path(active_tab: "items"), class: "button-gold" %>
              </div>
            <% end %>
          </div>


        <div class="item-frame-calendar">
          <%= render "reserve" %>
        </div>


    </div>
    <div class="item-frame-review">
      <h2> What others say ... </h2>
      <div data-controller="insert-in-list">
        <div data-insert-in-list-target="items">
          <div id="reviews">
            <% if @item.reviews.blank? %>
                <p>Sorry, no review yet has been written for this item.</p>
            <% else %>
              <% @item.reviews.order(id: :desc).each do |review| %>
              <%= render 'review', review: review , remote: true %>
              <% end %>
            <% end %>
            <div class="reviews_form" style="margin-top: 176px">
            <% if @item.requests.exists? && @item.requests.last.status == "approved" && current_user != @owner  && !current_user.nil? && @item.requests.last.end_date != DateTime.now %>
              <%= render 'reviews/form', item: @item, review: @review %>
              <% end %>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>

  <div class="other-items">
      <% if @other_items_by_owner.blank? %>
        <h2> <%= @owner.name %> does not propose othe items </h2>
      <% else %>
        <h2> Other items from <%= @owner.name %> </h2>
        <div class="card-grid-show">
        <% @other_items_by_owner.each do |item| %>

            <div class="card-product">
            <%=  link_to item_path(item) do%>
              <%= cl_image_tag item.picture.key %>
              <div class="card-product-infos">
                <h2><%= item.name %></h2>
                <p><%= truncate(item.description, length: 50) { link_to " more", item_path(item), class:"truncate" } %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
